:root {
  --background: #1e1f23;
  --foreground: #f5e9bf;
  --accent: #aa644d;
  --alt: #788374;
}

body {
  font-family: monospace;
  background-color: var(--background);
  color: var(--foreground);
}

.title {
  font-size: 200px;
  margin: auto;
}
.smallTitle {
  font-size: 175px;
  margin: auto;
}

.spacer {
  height: 10px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leftContent {
  width: 57%;
  border: 5px solid var(--accent);
  margin: 10px;
  height: 480px;
  padding: auto;
}

.rightContent {
  width: 40%;
  border: 5px solid var(--alt);
  margin: 10px;
  height: 480px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 1fr;
}

.boxLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alt);
  color: var(--background);
  text-decoration: none;
  font-size: 40px;
  transition: background-color 0.2s;
  width: 100%;
  height: 100%;
  tranistion: 0.2s;
}

.boxLink:hover {
  background-color: var(--accent);
  color: var(--foreground);
  transition: 0.2s;
}

.mainContent {
  width: 98%;
  margin: auto;
  border: 5px solid var(--alt);
  padding: auto;
}

/* Media input sections */
/* General input section */
.inputSection {
  width: 60%;
  margin: auto;
  height: 50px;
}

#movieNameInput {
  background-color: var(--background);
  color: var(--foreground);
  width: 40%;
  margin: auto;
  height: 100%;
}

#triggerMovieLoad {
  background-color: var(--alt);
  color: var(--background);
  width: 50%;
  margin: auto;
  height: 100%;
}

/* Media server ID elements */
#movieContainer {
  border: 5px solid var(--accent);
  width: 76%;
  height: auto;
  margin: auto;
}
.movieBox {
  padding: 5px;
}

.inputTitleContainer {
  width: 50%;
  margin: auto;
}

.inputTitle {
  text-align: center;
}
