:root {
  --background: #1e1f23;
  --foreground: #f5e9bf;
  --accent: #aa644d;
  --alt: #788374;
}

body {
  font-family: monospace;
  background-color: var(--background);
  color: var(--foreground);
}

.title {
  font-size: 200px;
  margin: auto;
}
.smallTitle {
  font-size: 175px;
  margin: auto;
}

.spacer {
  height: 10px;
}

.mainContent {
  width: 98%;
  margin: auto;
  border: 5px solid var(--alt);
  padding: 10px;
}

/* Media input sections */
/* General input section */
.inputSection {
  width: 60%;
  margin: auto;
  height: 50px;
}

#movieNameInput {
  background-color: var(--background);
  color: var(--foreground);
  width: 40%;
  margin: auto;
  height: 100%;
}

#triggerMovieLoad {
  background-color: var(--alt);
  color: var(--background);
  width: 50%;
  margin: auto;
  height: 100%;
}

#movieContainer {
  border: 5px solid var(--accent);
  width: 76%;
  height: auto;
  margin: auto;
}
.movieBox {
  padding: 5px;
}

.inputTitleContainer {
  width: 50%;
  margin: auto;
}

.inputTitle {
  text-align: center;
}

/* List of movies below main content */
.movieList {
  width: 50%;
  margin: auto;
  border: 5px solid var(--accent)
}
